@import '~@fluentui/react/dist/sass/References.scss';

.floatingTableOfContent {
  .iconButton {
    position: fixed;
    bottom:50px;
    right:80px;
    z-index: 21;
  }

  .menuContainer {
    width: 220px;
    padding-top: 10px;
    padding-bottom: 20px;
    // padding-right: 30px;
    position: fixed;
    bottom:70px;
    right:100px;
    z-index: 20;
    border: 1px solid rgb(237, 235, 233);
    background-color: #fff;
    box-shadow: rgb(0 0 0 / 13%) 0px 1.6px 3.6px 0px, rgb(0 0 0 / 11%) 0px 0.3px 0.9px 0px;
    transition: box-shadow 0.5s ease 0s;

    .webpartTitle {
      text-align: center;
    }
  }
}

.tableOfContents {
  ul {
    padding-left: 25px;
  }
  
  li {
    &:global(.toc_level_0) {
      list-style-type: none;
    }

    &:global(.toc_level_1) {
      list-style-type: none;
    }

    &:global(.toc_level_2) {
      list-style-type: none;
    }
  }

  a {
    color: "[theme: accent, default: #0078d7]";
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }

    &:visited {
      color: "[theme: accent, default: #0078d7]";
    }
  }

  // hide on medium screens and smaller
  .hideInMobileView {
    @include ms-screen-lg-down {
      display: none !important;
    }
  }
}
